<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/contacto.css">
  <link rel="stylesheet" href="css/pep.css">
  <title>Star Developers Pagina de contacto </title>
</head>

<body>
  <header id="menuHader">
    <h1 style="font-size: 1.5em" data-aos="fade-down" data-aos-duration="3000">Star developers</h1>
    <ul class="navigation" data-aos="fade-down" data-aos-duration="3000">
      <li><a href="#home" class="linkHome">Home</a></li>
    </ul>
  </header>
  <div class="formCont">
    <form action="">
      <p class="contactus">Contactanos</p>
      <input type="text" value="Nombre" placeholder="Nombre" required>
      <input type="email" value="email" placeholder="Correo" required>
      <textarea name="" id="" cols="30" rows="10" required>Enviar mensaje</textarea>
      <button>Enviar mensaje</button>
    </form>
  </div>
</body>

</html>