<div class="fu">
  <footer class="containerfoot">
    <div class="sec aboutus">
      <h3>Nosotros</h3>
      <p>Diseñamos y desarrollamos Paginas Web que te ayudarán a tener mucha visibilidad y conseguir nuevos clientes.
      </p>
      <ul class="scift">
        <li><a href=""><img src="../img/facebook.png" alt=""></a></li>
        <li><a href=""><img src="../img/instagram.png" alt=""></a></li>
        <li><a href=""><img src="../img/twitter.png" alt=""></a></li>
      </ul>
    </div>
    <div class="sec quicklinks">
      <p class="lr">Links rapidos</p>
      <ul>
        <li><a href="#tecnologias">Tecnologias</a></li>
        <li><a href="#precios">Precios</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
    <div class="sec quicklinks">
      <p class="lr">Legales</p>
      <ul>
        <li><a href="">Política de cookies</a></li>
        <li><a href="">Política de Privacidad</a></li>
        <li><a href="">Aviso Legal</a></li>
      </ul>
    </div>
    <div class="sec contact">
      <p class="lr">Contactanos</p>
      <ul class="infof">
        <li>
          <img src="../img/place.png" alt="">
          <span>Castro 1078 <br>Buenos Aires</br>Argentina</span>
        </li>
        <li>
          <img src="../img/phone.png" alt="">
          <p><a href="tel:+541141926431">+541141926431</a></p>
        </li>
        <li>
          <img src="../img/mail.png" alt="">
          <p><a href="mailto:knowmore@email.com">knowmore@email.com</a></p>
        </li>
      </ul>
    </div>
  </footer>
  <div class="copyrightText">
    <p>Copyright ® 2021 Star Developers.</p>
  </div>
</div>