<section class="secpep" id="sectionPrincipal">
  <div class="contentpep">
    </main>
    </main>
    <div class="textBox" data-aos="fade-right" data-aos-duration="3000">
      <p><span>Buscando un</span></p>
      <h2><span>Desarrollador Web ?</span></h2>
      <p>Ayudaremos a tu empresa a mejorar los resultados por medio de las mas actuales herramientas informaticas. Tener
        tu sitio web o tienda online actualizados es la herramienta muy poderosa para alcanzar objetivos.</p>
      <div class="a">
        <div class="containerbl">
          <div class="btnl"><a href="#">Whatsapp +54 9 1141926431 </a></div>
        </div>
      </div>
    </div>
    <div class="imgBox" data-aos="fade-left" data-aos-duration="3000">
      <img src="img/3a.png" class="imgpep" alt="">
    </div>
  </div>
  <ul class="thumb" data-aos="fade-up" data-aos-duration="3000">
    <li><img src="img/1a.png" alt="" onclick="imgSlider('img/1a.png');changeBgColor('#dada92')"></li>
    <li><img src="img/2a.png" alt="" onclick="imgSlider('img/2a.png');changeBgColor('rgb(185,129,166)')"></li>
    <li><img src="img/4a.png" alt="" onclick="imgSlider('img/4a.png');changeBgColor('rgba(141,176,202,1)')"></li>
  </ul>
  <ul class="sci">
    <li><a href="#"><img src="img/facebook.png" alt=""></a></li>
    <li><a href="#"><img src="img/twitter.png" alt=""></a></li>
    <li><a href="#"><img src="img/instagram.png" alt=""></a></li>
  </ul>
</section>