<main class="main">
  <div class="celuxx">
    <div class="celuxl" data-aos="zoom-in" data-aos-duration="3000"><img src="img/celux.png" alt="" class="imgc"></div>
    <div class="celuxr" data-aos="zoom-in-up" data-aos-duration="3000">
      <h5 class="h2ce">Prepárate para ser parte de una revolución</h5>
      <h5 class="h3ce">El salto de la era digital potenciara tus proyectos, es vital que empieces ahora.</h5>
      <p class="pce">¿Tu empresa te pide cambios? Hacemos Diseño Web con las herramientas más actuales. Implementamos
        los sistemas
        informáticos y de diseño más novedosos, los cuales te ayudaran a lograr tus objetivos.
        No importa el tamaño de tu empresa ni del proyecto, tenemos profesionales de website design de altísima calidad
        que te
        van a ayudar para que puedas implementar una Pagina Web o tienda online a la medida de tu empresa.
      </p>
    </div>
  </div>
  <div class="containerdc">
    <div class="square" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <span class="spansq"></span>
      <span class="spansq"></span>
      <span class="spansq"></span>
      <div class="contentsq">
        <h3 class="square">Contactanos HOY</h3>
        <p class="psq">¿Qué Pagina Web necesitas?
          Consúltanos por tu proyecto ahora si necesitas un experto.
        </p>
        <a href="#">Llamanos</a>
      </div>
    </div>
    <div class="square" id="square" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <span class="spansq"></span>
      <span class="spansq"></span>
      <span class="spansq"></span>
      <div class="contentsq">
        <h3 class="square">Contactanos HOY</h3>
        <p class="psq">Coméntanos cuál es tu idea, ya sea una Website de difusión, un e-commerce o quizás algo mixto. Te
          haremos un presupuesto
          al instante.</p>
        <a href="#">Llamanos</a>
      </div>
    </div>
  </div>
  <div class="h31" data-aos="flip-up" data-aos-duration="3000">
    <p>¿Como quieres hacer progresar tu marca?</p>
  </div>
  <div class="containerg" data-aos="zoom-in" data-aos-duration="3000">
    <div class="boxg">
      <div class="imgBxg">
        <img src="img/1g.jpg" alt="">
        <div class="contentg">
          <div class="ofer">
            <p class="h2g">Sitio Web</p>
            <p class="pg">Da a conocer tu actividad con Paginas Web atractivas, limpias y eficaces para el logro de
              objetivos.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="boxg">
      <div class="imgBxg">
        <img src="img/2g.jpg" alt="">
        <div class="contentg">
          <div>
            <p class="h2g">Tiendas Online</p>
            <p class="pg">Diseños atractivos y funcionales generan mas ventas. Crea tu sucursal online ahora.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="boxg">
      <div class="imgBxg">
        <img src="img/3g.jpg" alt="">
        <div class="contentg">
          <div>
            <p class="h2g">Personalizacion</p>
            <p class="pg">Podemos crear diseños personalizados adaptados a tus proyectos. Tambien podemos crear Web
              Sites con plantillas.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="boxg">
      <div class="imgBxg">
        <img src="img/4g.jpg" alt="">
        <div class="contentg">
          <div>
            <p class="h2g">Diseño superior</p>
            <p class="pg">Adaptables a Tablet, Movil y Pc Ordenador de Escritorio. Pensados para satisfacer a los
              usuarios</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="sdse">
    <div class="sdd">
      <p class="sdp" style="--i:0.5"><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span><span
          class="sds">Star Developers</span><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span>
      </p>
      <p class="sdp" style="--i:1.5"><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span><span
          class="sds">Star Developers</span><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span>
      </p>
      <p class="sdp" style="--i:2.5"><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span><span
          class="sds">Star Developers</span><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span>
      </p>
      <p class="sdp" style="--i:1.25"><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span><span
          class="sds">Star Developers</span><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span>
      </p>
      <p class="sdp" style="--i:0.75"><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span><span
          class="sds">Star Developers</span><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span>
      </p>
      <p class="sdp" style="--i:3"><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span><span
          class="sds">Star Developers</span><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span>
      </p>
      <p class="sdp" style="--i:0.35"><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span><span
          class="sds">Star Developers</span><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span>
      </p>
      <p class="sdp" style="--i:2.35"><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span><span
          class="sds">Star Developers</span><span class="sds">Star Developers</span><span class="sds">Star
          Developers</span><span class="sds">Star Developers</span><span class="sds">Star Developers</span>
      </p>
    </div>
  </section>
  <div class="h32" data-aos="zoom-in" data-aos-duration="3000">
    <p>¿Podran ver tu web en varios formatos de dispositivos?</p>
  </div>
  <div class="containersh">
    <div class="boxsh" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <p class="namesh">Adaptabes a</p>
      <a href="#" class="buysh">Movil</a>
      <div class="circlesh"></div>
      <img src="img/shoes1.png" class="productsh" alt="">

    </div>
    <div class="boxsh" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <p class="namesh">Adaptabes a</p>
      <a href="#" class="buysh">PC-Ordenador</a>
      <div class="circlesh"></div>
      <img src="img/shoes2.png" class="productsh" alt="">

    </div>
    <div class="boxsh" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <p class="namesh">Adaptabes a</p>
      <a href="#" class="buysh">Tablet</a>
      <div class="circlesh"></div>
      <img src="img/shoes3.png" class="productsh" alt="">

    </div>

  </div>
  <div class="celux1">
    <div class="celuxr1" data-aos="zoom-in-right" data-aos-duration="3000">
      <h5 class="h2ce1">Prepárate para ser parte de una revolución</h5>
      <h5 class="h3ce1">El salto de la era digital potenciara tus proyectos, es vital que empieces ahora.</h5>
      <p class="pce1">¿Tu empresa te pide cambios? Hacemos Diseño Web con las herramientas más actuales. Implementamos
        los sistemas
        informáticos y de diseño más novedosos, los cuales te ayudaran a lograr tus objetivos.
        No importa el tamaño de tu empresa ni del proyecto, tenemos profesionales de website design de altísima calidad
        que te
        van a ayudar para que puedas implementar una Pagina Web o tienda online a la medida de tu empresa.
      </p>
    </div>
    <div class="celuxl1" data-aos="zoom-in-left" data-aos-duration="3000"><img src="img/1c.png" alt=""></div>
  </div>
  <a name="tecnologias"></a>
  <div class="containerca">
    <div>
      <p class="h34" data-aos="zoom-out" data-aos-duration="3000">¿Con que tecnologias podemos ayudarte?</p>
    </div>
    <div class="boxca">
      <span style="--i:1;" class="spanca"><img src="img/ca1.svg" alt=""></span>
      <span style="--i:2;" class="spanca"><img src="img/ca2.svg" alt=""></span>
      <span style="--i:3;" class="spanca"><img src="img/ca3.svg" alt=""></span>
      <span style="--i:4;" class="spanca"><img src="img/ca4.svg" alt=""></span>
      <span style="--i:5;" class="spanca"><img src="img/ca5.svg" alt=""></span>
      <span style="--i:6;" class="spanca"><img src="img/ca6.png" alt=""></span>
      <span style="--i:7;" class="spanca"><img src="img/ca7.png" alt=""></span>
      <span style="--i:8;" class="spanca"><img src="img/ca8.svg" alt=""></span>
    </div>
  </div>
  <div class="ci">
    <div class="containeri">
      <div class="cardi" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
        <div class="imgBxi">
          <img src="../img/1i.png" alt="">
        </div>
        <div class="contenti">
          <p class="pr">Con diseños actuales y elegantes.</p>
          <p>Destacara con un diseño moderno. Tu Website hará que tu marca logre
            beneficios que no
            había podido alcanzar antes.</p>
        </div>
      </div>
      <div class="cardi" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
        <div class="imgBxi">
          <img src="../img/2i.png" alt="">
        </div>
        <div class="contenti">
          <p class="pr">Adaptables a todos los dispositivos</p>
          <p>Es importante que tu Pagina Web se vea bien en todos los dispositivos.</p>
        </div>
      </div>
      <div class="cardi" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
        <div class="imgBxi">
          <img src="../img/3i.png" alt="">
        </div>
        <div class="contenti">
          <p class="pr">Creadas a medida para tus necesidades.</p>
          <p>Podemos crear un diseño único con funcionalidades que necesite tu empresa o podríamos crearte un
            Sitio Web con
            una plantilla de Wordpress</p>
        </div>
      </div>
    </div>
  </div>
  <div class="containertit">
    <div class="containertitr" data-aos="zoom-in-right" data-aos-duration="3000"><img src="../img/tit.png" alt=""></div>
    <div class="containertitl" data-aos="zoom-out-left" data-aos-duration="3000">
      <h2>¿Cuánto cuesta una página web profesional?</h2>
    </div>
  </div>
  <div class="containercn1">
    <div class="containercn">
      <div class="cardc">
        <div class="boxc">
          <div class="contentc">
            <div class="iconc"><img src="../img/lc.png" alt=""></div>
            <h3 class="planc">Landing Page</h3>
            <h4 class="lp">$ 8990</h4>
            <h4 class="lp1">€ 44,95</h4>
            <p>Diseñada para promocionar un unico producto o servicio con este mini Sitio Web. Este puede ser
              complementario a tu pagina web principal</p>
            <ul>
              <li>Pagina unica / URL</li>
              <li>Diseño Personalizado</li>
              <li>Autoadministrable</li>
              <li>Adaptable a todas las pantallas</li>
              <li>Animacion de imagens y textos</li>
              <li>Formulario de contacto</li>
              <li>Mail corporativo (uno)</li>
              <li>Hasta 5 imagenes</li>
              <li>Link a redes</li>
              <li>Hasta 5 secciones</li>
            </ul>
            <a href="#">Elegir Plan</a>
          </div>
        </div>
      </div>
      <div class="cardc">
        <a name="precios"></a>
        <div class="boxc">
          <div class="contentc">
            <div class="iconc"><img src="../img/pc.png" alt=""></i></div>
            <h3 class="planc">Plan ONE PAGE</h3>
            <h4 class="lp">$ 11990</h4>
            <h4 class="lp1">€ 59,95</h4>
            <p>Pagina web unica. Hasta 5 secciones. Ideal para comenzar con poco presupuesto</p>
            <ul>
              <li>Pagina unica / Hasta 4 URLs</li>
              <li>Diseño Personalizado</li>
              <li>Autoadministrable</li>
              <li>Adaptable a todas las pantallas</li>
              <li>Animacion de imagens y textos</li>
              <li>Formulario de contacto</li>
              <li>Mails corporativos</li>
              <li>Hasta 7 imagenes</li>
              <li>Link a redes</li>
              <li>Google Map</li>
            </ul>
            <a href="#">Elegir Plan</a>
          </div>
        </div>
      </div>
      <div class="cardc">
        <div class="boxc">
          <div class="contentc">
            <div class="iconc"><img src="../img/rc.png" alt=""></i></div>
            <h3 class="planc">Plan Empresa</h3>
            <h4 class="lp">$ 16990</h4>
            <h4 class="lp1">€ 84,95</h4>
            <p>Para empresas que buscan una fuerte presencia en internet</p>
            <ul>
              <li>Hasta 8 Paginas / URLs</li>
              <li>Diseño Personalizado</li>
              <li>Autoadministrable</li>
              <li>Adaptable a todas las pantallas</li>
              <li>Animacion de imagens y textos</li>
              <li>Formulario de contacto</li>
              <li>Mail corporativo (uno)</li>
              <li>Video como fondo de portada</li>
              <li>Galeria de imagenes</li>
              <li>Hasta 30 imagenes</li>
              <li>Link a redes</li>
              <li>Hasta 30 secciones</li>
            </ul>
            <a href="#">Elegir Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>