<header id="menuHader">
  <h1 style="font-size: 1.5em" data-aos="fade-down" data-aos-duration="3000">Star developers</h1>
  <ul class="navigation" data-aos="fade-down" data-aos-duration="3000">
    <li><a href="#home">Home</a></li>
    <li><a href="#tecnologias">Tecnologias</a></li>
    <li><a href="#precios">Precios</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</header>