@inport url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');


.sdse{
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background: rgb(35,35,35);
  background: radial-gradient(circle, rgba(35,35,35,1) 0%, rgba(0,0,0,1) 100%);
  font-family: 'Poppins', sans-serif;
}

.sdd{
  position: relative;
  transform: skewY(345deg) translateY(-200px);
  animation: animateColor 5s linear infinite;
}
@keyframes animateColor{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.sdd p {
  position: relative;
  width: 100%;
  font-size: 8em;
  color: #fff;
  pointer-events: none;
  line-height: 1em;
  white-space: nowrap;
  text-shadow: calc(var(--x)) 100px 0 rgba(255,255,255,0.1);
  transform: translateX(calc(0% - var(--x) * var(--i)));
}
.sdd p span{
  color: rgb(255, 0, 0);
  margin: 0 10px;
}
.sdd p span:nth-child(even){
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}
